language: node_js
node_js:
  - "9"
before_install:
  - cd ./src/backend

jobs:
  include:
    - stage: "Lint"
      name: "Lint check"
      script: npm run lint
    - stage: "Tests"
      name: "Unit Tests"
      script: npm run test-unit
    - script: npm run test-integration   
      name: "Integration Tests"
