language: node_js
node_js:
  - "9"

jobs:
  include:
    - stage: "Backend"
      script: npm run lint
      before_script: cd ./src/backend
      name: "Lint check"
    - script: npm run test-unit
      before_script: cd ./src/backend
      name: "Unit Tests"
    - script: npm run test-integration   
      before_script: cd ./src/backend
      name: "Integration Tests"
    - stage: "Client app"
      script: CI=true npm run test
      before_script: cd ./src/client
      name: "Tests"
