language: node_js
node_js:
  - "9"

jobs:
  include:
    - stage: "Client app"
      script:
        - cd src/client
        - CI=true npm run test
      name: "Tests"
    - stage: "Backend"
      script:
        - cd src/backend
        - npm run lint
      name: "Lint check"
    - script:
        - cd src/backend
        - npm run test-unit
      name: "Unit Tests"
    - script:
        - cd src/backend
        - npm run test-integration
      name: "Integration Tests"
